<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企业客户</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">企业客户</div>
                <div class="desc wow fadeInUp">
                    助力全球领先企业制定科学决策。
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">客户分类</a>
                    <span>&gt;</span>
                    <a href="">企业客户</a>
                </div>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <section class="client-container">
            <div class="client-box max-center">
                <div class="text wow fadeInLeft">
                    通过我们的专家资源，客户可进行差异化的市场分析、<br>
                    产品反馈和策略验证。
                </div>
                <a href="mailto:memberservice@capvision.com" class="client wow fadeInRight">成为客户</a>
            </div>
        </section>
        <main class="main-container">
            <div class="title-module">
                <div class="title wow fadeInUp">行业层面的洞见</div>
                <div class="desc wow fadeInUp">我们的专家团成员和服务团队为客户提供卓越行业洞见，主力客户在关键性的行业和领域制定战略，打造创新产品。</div>
            </div>
            <ul class="module-list max-center">
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/client/icon-1-1.png" alt="" class="icon">
                    <div class="title">生物制药行业</div>
                    <div class="desc">
                        专家涵盖完整的生物技术产业与医药产业领域，立足于医疗健康行业，专家将提供药物研发生物技术、医疗器械、诊断与临床的咨询服务，帮您找到关键问题的解决之道。
                    </div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/client/icon-1-2.png" alt="" class="icon">
                    <div class="title">科技行业</div>
                    <div class="desc">
                        专家涵盖软件、技术、通信、媒体与云服务领域的上下游专家，进行 TMT 行业的初级市场研究
                    </div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/client/icon-1-3.png" alt="" class="icon">
                    <div class="title">快销行业</div>
                    <div class="desc">
                        提供消费品行业咨询，帮助您联系上相关专家、包括：零售、开发、供应商等，针对市场格局、营销策略、产品定位、销售渠道和消费者定位提供建议
                    </div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/client/icon-1-4.png" alt="" class="icon">
                    <div class="title">金融行业</div>
                    <div class="desc">
                        我们可以帮助您与金融服务业的专家建立联系（银行、金融科技、保险、支付等），帮助您完成竞品分析，实现业务创新。
                    </div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/client/icon-1-5.png" alt="" class="icon">
                    <div class="title">化工&能源行业</div>
                    <div class="desc">
                        实现与传统制造、化工和能源领域专家的，获取专业洞察，了解全球最新技术和趋势。
                    </div>
                </li>
            </ul>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>