<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企业服务</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">企业服务</div>
                <div class="desc wow fadeInUp">
                    助力专业服务机构客户
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">客户分类</a>
                    <span>&gt;</span>
                    <a href="">企业服务</a>
                </div>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <section class="client-container">
            <div class="client-box max-center">
                <div class="text wow fadeInLeft">
                    无论是咨询公司和市场研究公司，我们可以提供包括企业高管、业务决策者、关键意见领袖以及其他各类专家，帮助大家获取专业知识。针对您项目以及所在的行业提供咨询访谈。
                </div>
                <a href="mailto:memberservice@capvision.com" class="client wow fadeInRight">成为客户</a>
            </div>
        </section>
        <main class="main-container">
            <div class="title-module">
                <div class="title wow fadeInUp">适用场景</div>
            </div>
            <ul class="module2-list max-center">
                <li class="module2-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-1.png" alt="" class="icon">
                    <div class="title">尽职调查</div>
                    <div class="desc">为您和客户提供更全面的洞察，加强对与业务以及市场的理解，更科学做出决策。</div>
                </li>
                <li class="module2-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-2.png" alt="" class="icon">
                    <div class="title">业务拓展</div>
                    <div class="desc">咨询相关的行业专家，让您的客户在创新业务以及市场拓展等方面脱颖而出</div>
                </li>
                <li class="module2-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-3.png" alt="" class="icon">
                    <div class="title">行业深度挖掘</div>
                    <div class="desc">咨询相关的行业专家，获得专业知识服务，帮助您的客户评估新的市场机遇</div>
                </li>
            </ul>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>