<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>金融服务</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">金融服务</div>
                <div class="desc wow fadeInUp">
                    助力全球领先企业制定科学决策。
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">客户分类</a>
                    <span>&gt;</span>
                    <a href="">金融服务</a>
                </div>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <section class="client-container">
            <div class="client-box max-center">
                <div class="text wow fadeInLeft">
                    Linker可以陪伴您从前期到管理再到退出的整个周期，我们在遵守行业的合规标准的基础上提供一系列服务，更好的支持您的进一步决策。
                </div>
                <a href="mailto:memberservice@capvision.com" class="client wow fadeInRight">成为客户</a>
            </div>
        </section>
        <main class="main-container">
            <div class="title-module">
                <div class="title wow fadeInUp">LINKER金融服务</div>
                <div class="desc wow fadeInUp">全球各大优质的金融机构都是Linker的客户，包括全球领先银行、私募股权和风险投资公司以及对冲基金。</div>
            </div>
        </main>
        <section class="finance-container">
            <div class="finance-box max-center">
                <div class="left-layout wow fadeInLeft">
                    <img src="/public/images/client/finance.png" alt="金融服务">
                </div>
                <div class="right-layout wow fadeInRight">
                    <div class="text">我们通过值得信赖的专家资源，致力于帮助专业投资人士在私募和公募市场（包括股票和固定收益等各种领域），更好的科学控制投资风险，发现更多投资机会，提高投资信心。</div>
                    <div class="title">我们坚持：</div>
                    <div class="cont">
                        <p>热点专家更新</p>
                        <p>坚守合规条款</p>
                        <p>落实尽职调查</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="adv-container bg-module">
            <div class="text-box max-center">
                <div class="title">覆盖全球，高效交付</div>
                <div class="desc">Linker的专家智库由全球约 60 万名专家构成，每一天我们都会为客户安排上百次的咨询访谈。通过长期的咨询访谈，我们的专家运用专业知识和丰富经验，帮助客户做出更加科学的投资决策。</div>
            </div>
            <img src="/public/images/client/adv.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>