<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>关于我们</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <div class="title wow fadeInUp">关于我们</div>
        <div class="desc wow fadeInUp">
          助力专业服务机构客户
        </div>
        <div class="crumbs">
          <span>当前位置：</span>
          <a href="/">首页</a>
          <span>&gt;</span>
          <a href="">关于我们</a>
        </div>
      </div>
      <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
      <div class="bg-mask"></div>
    </section>
    <section class="about-container">
      <div class="about-box max-center">
        <div class="left-layout wow fadeInLeft">
          <img src="/public/images/home/about.png" alt="">
        </div>
        <div class="right-layout wow fadeInRight">
          <div class="title">公司简介</div>
          <div class="content">
            <p>
              Linker专家智库的总部位于上海，是中国领先的“互联网”+行业专家知识共享平台。我们为数以百计的全球优质企业提供服务，包括世界500
              强企业，再到专业服务公司以及金融机构。我们帮助客户与全球一手专业知识来源建立联系，包括各行业高管、科学家、学者、行业意见领袖等。
            </p>
            <p>
              Linker通过业界资深从业人士的多年实际项目累积以及新兴的大数据智能搜索已汇集了60万余名来自全球不同行业的资深顾问，以其丰富的知识涵盖了全球的主要行业和专业领域，同时与各大猎头、高校合作，不断做大做深顾问数据库。
            </p>
            <p>
              公司拥有健全的合规框架，让客户实现系统化、可审计的方式获悉所需洞见，同时帮助其符合自身内部的合规义务与职业道德。
            </p>
          </div>
        </div>
      </div>
    </section>
    <main class="main-container">
      <div class="title-module">
        <div class="title wow fadeInUp">加入我们</div>
        <div class="desc wow fadeInUp">公司拥有健全的合规框架，让客户实现系统化、可审计的方式获悉所需洞见，同时帮助其符合自身内部的合规义务与职业道德</div>
      </div>
      <ul class="job-list">
        <a href="mailto:memberservice@capvision.com" class="application-position">申请职位</a>
        <li class="job-item wow fadeInUp">
          <div class="title-box">
            <div class="left-layout">
              <div class="title">业务拓展</div>
              <div class="desc">与各大领军企业、投资机构及咨询公司的资深专业人士建立合作关系</div>
            </div>
            <div class="address">工作地点：上海</div>
          </div>
          <ul class="cont-list">
            <li class="cont-item">
              <div class="title">职位描述:</div>
              <div class="note">
                <p>主要负责一级市场/二级市场基金客户的维护和开拓；</p>
                <p>负责与研究员和基金/投资经理对接，维护客户关系；</p>
                <p>挖掘现有客户研究需求和开拓新客户资源；</p>
              </div>
            </li>
            <li class="cont-item">
              <div class="title">岗位要求:</div>
              <div class="note">
                <p>2年左右销售相关工作经验，有金融行业对公销售经验者优先；</p>
                <p>细致认真耐心，具有较强的责任心和主观能动性；</p>
                <p>踏实，能承受较大的工作压力；较强的沟通协调能力，性格开朗，执行力强；</p>
                <p>可适应短途出差，形象气质佳。</p>
              </div>
            </li>
          </ul>
        </li>
        <li class="job-item wow fadeInUp">
          <div class="title-box">
            <div class="left-layout">
              <div class="title">业务拓展</div>
              <div class="desc">与各大领军企业、投资机构及咨询公司的资深专业人士建立合作关系</div>
            </div>
            <div class="address">工作地点：上海</div>
          </div>
          <ul class="cont-list">
            <li class="cont-item">
              <div class="title">职位描述:</div>
              <div class="note">
                <p>主要负责一级市场/二级市场基金客户的维护和开拓；</p>
                <p>负责与研究员和基金/投资经理对接，维护客户关系；</p>
                <p>挖掘现有客户研究需求和开拓新客户资源；</p>
              </div>
            </li>
            <li class="cont-item">
              <div class="title">岗位要求:</div>
              <div class="note">
                <p>2年左右销售相关工作经验，有金融行业对公销售经验者优先；</p>
                <p>细致认真耐心，具有较强的责任心和主观能动性；</p>
                <p>踏实，能承受较大的工作压力；较强的沟通协调能力，性格开朗，执行力强；</p>
                <p>可适应短途出差，形象气质佳。</p>
              </div>
            </li>
          </ul>
        </li>
        <li class="job-item wow fadeInUp">
          <div class="title-box">
            <div class="left-layout">
              <div class="title">业务拓展</div>
              <div class="desc">与各大领军企业、投资机构及咨询公司的资深专业人士建立合作关系</div>
            </div>
            <div class="address">工作地点：上海</div>
          </div>
          <ul class="cont-list">
            <li class="cont-item">
              <div class="title">职位描述:</div>
              <div class="note">
                <p>主要负责一级市场/二级市场基金客户的维护和开拓；</p>
                <p>负责与研究员和基金/投资经理对接，维护客户关系；</p>
                <p>挖掘现有客户研究需求和开拓新客户资源；</p>
              </div>
            </li>
            <li class="cont-item">
              <div class="title">岗位要求:</div>
              <div class="note">
                <p>2年左右销售相关工作经验，有金融行业对公销售经验者优先；</p>
                <p>细致认真耐心，具有较强的责任心和主观能动性；</p>
                <p>踏实，能承受较大的工作压力；较强的沟通协调能力，性格开朗，执行力强；</p>
                <p>可适应短途出差，形象气质佳。</p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </main>
    <section class="contact-container max-center">
      <ul class="contact-list">
        <li class="contact-item wow fadeInLeft">
          <div class="map">
            <img src="/public/images/about/map1.jpg" alt="上海办公室（总部）">
          </div>
          <div class="title">上海办公室（总部）</div>
          <div class="cont">
            <p>电话：(+0086) 021 6126 6228</p>
            <p>地址：上海市黄浦区延安东路550号海洋大厦2872室</p>
            <p>邮编：200010</p>
          </div>
        </li>
        <li class="contact-item wow fadeInRight">
          <div class="map">
            <img src="/public/images/about/map2.jpg" alt="苏州办公室">
          </div>
          <div class="title">苏州办公室</div>
          <div class="cont">
            <p>电话：留mandy的座机号</p>
            <p>地址：江苏省苏州市虎丘区金山东路79号龙湖中心大厦 1010 室</p>
            <p>邮编：215004</p>
          </div>
        </li>
      </ul>
      <ul class="info-list">
        <li class="info-item wow fadeInRight">
          <div class="title">客户咨询及服务</div>
          <div class="info">
            <a href="mailto:Request@linkerintel.com">Request@linkerintel.com</a>
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="100ms">
          <div class="title">专家咨询及服务</div>
          <div class="info">邮箱待商议</div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="200ms">
          <div class="title">合规问题</div>
          <div class="info">邮箱待商议</div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="300ms">
          <div class="title">申请职位，加入凯盛</div>
          <div class="info">
            <a href="mailto:hr@linkerintel.com">hr@linkerintel.com</a>
          </div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>