<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>平台专家团</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
        <div class="text-box">
            <div class="title wow fadeInUp">平台专家团</div>
            <div class="desc wow fadeInUp">
                助力专业服务机构客户
            </div>
            <div class="crumbs">
                <span>当前位置：</span>
                <a href="/">首页</a>
                <span>&gt;</span>
                <a href="">平台专家团</a>
            </div>
        </div>
        <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
        <div class="bg-mask"></div>
    </section>
    <section class="team-container">
        <div class="team-box">
            <div class="title wow fadeInUp">LINKER 专家智库</div>
            <div class="desc wow fadeInUp">分享您的专业知识，以灵活的方式获得丰厚报酬</div>
            <div class="info wow fadeInUp">
                <p>您是某个领域的专家吗？</p>
                <p>申请成为我们的专家，我们分享您的知识吧！</p>
            </div>
            <a href="mailto:memberservice@capvision.com" class="application wow fadeInUp">
                立即申请
            </a>
        </div>
    </section>
    <div class="info-container">
        <div class="info-box max-center">
            <div class="left-layout wow fadeInLeft">
                <img src="/public/images/team/info.png" alt="">
            </div>
            <div class="right-layout wow fadeInRight">
                <div class="title">您可以：</div>
                <div class="cont">
                    <p>通过参与电话访谈或者定制调研获取对应报酬</p>
                    <p>与希望听取您个人经验的知名企业高管进行沟通交流</p>
                    <p>我们的专家涵盖了各个行业，是否接受参与项目始终由专家团成员自行决定。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>