<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>合规体系</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">合规体系</div>
                <div class="desc wow fadeInUp">
                    助力专业服务机构客户
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">合规体系</a>
                </div>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <section class="text-container max-center wow fadeInUp">
            <p>Linker严格建立以及不断完善合规管理，符合国内外监管机构对金融服务资讯型研究咨询公司的监管标准。凯盛融英努力打造稳健的合规管理体系，将动态项目监督与专业合规管理合二为一，以有条理、可审查和透明化的方式进行全面的风险管理，使客户在获得专业服务的同时，有效规避各类不必要的风险。
            </p>
            <p>我们的合规体系和协议可帮助专家管理冲突，并帮助客户实施自己的协议。我们的合规体系是众多客户选择与我们合作的关键原因。</p>
            <p>如果您有任何疑问，或想要了解更多关于Linker专家智库的合规体系信息，请发送电子邮件至 compliance@linkerintel.com</p>
        </section>
        <section class="content-container max-center">
            <div class="title wow fadeInUp">合规管理体系的基础内容包括</div>
            <ul class="cont-list">
                <li class="cont-item wow fadeInUp">
                    <div class="cont-title">针对专家的合规计划：</div>
                    <p>在参与任何客户项目前先签署服务条款和服务合同书，完成审阅其需遵守的协议或政策</p>
                    <p>提供关于各类合规事务的培训，包括内幕交易、重大非公开信息以及国际反贿赂法和利益冲突等内容，该培训将介绍什么构成“保密信息”，使专家对他们可能承担的保密义务保持敏感，并强调客户不希望收到保密信息。
                    </p>
                    <p>通过案头调研、信息库检索和推荐人核实进行背景核实</p>
                </li>
                <li class="cont-item wow fadeInUp">
                    <div class="cont-title">针对专家的合规计划：</div>
                    <p>新客户合规培训，帮助其了解合规政策及标准</p>
                    <p>声明监管合规标准
                    </p>
                    <p>定制化的合规性审核流程，包括专家背景限制（即非上市公司员工）、需要的合规文件签署</p>
                </li>
                <li class="cont-item wow fadeInUp">
                    <div class="cont-title">针对内部的合规体系:</div>
                    <p>所有新员工入职必须参与行为准则与合规培训</p>
                    <p>加强内部平台数据库在项目前中后期的合规控制，保证持续合规性审计
                    </p>
                    <p>完善的内部员工与客户沟通监测机制</p>
                </li>
            </ul>
        </section>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>