<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>定向研究</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">定向研究</div>
                <div class="desc wow fadeInUp">
                    定制方案，以焦点小组、研讨会、深度访谈等形式，实时互动与相关行业的资深专业人士或者关键人群进行交流，从而获取深度反馈。
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">产品服务</a>
                    <span>&gt;</span>
                    <a href="">定向研究</a>
                </div>
            </div>
            <div class="menu-box">
                <ul class="menu-list">
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon3-1.png" alt="项目准备" class="icon">
                        <p>项目准备</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon3-2.png" alt="建立预约渠道" class="icon">
                        <p>建立预约渠道</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon3-3.png" alt="甄别" class="icon">
                        <p>甄别</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon3-4.png" alt="进度控制" class="icon">
                        <p>进度控制</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon3-5.png" alt="复核" class="icon">
                        <p>复核</p>
                    </li>
                </ul>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <main class="main-container max-center">
            <div class="title-module">
                <div class="title wow fadeInUp">运用场景</div>
            </div>
            <ul class="module-list">
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-1.png" alt="" class="icon">
                    <div class="title">市场评估与研究</div>
                    <div class="desc">评估计划开拓的市场现状和竞争格局，推动商业和产品尽职调查，让战略规划和商业决策上更具优势</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-2.png" alt="" class="icon">
                    <div class="title">了解用户</div>
                    <div class="desc">通过焦点小组，了解与挖掘关键用户群体的需求，为后续的决策提前掌握影响因素</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-3.png" alt="" class="icon">
                    <div class="title">评估客户反馈</div>
                    <div class="desc">在早期开发阶段，收集对品牌概念和产品可用性的反馈，为客户创造更加合适的解决方案</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-3.png" alt="" class="icon">
                    <div class="title">通过研讨会培训团队</div>
                    <div class="desc">通过行业培训和其他教育计划，让团队成员获得职业成长</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-3.png" alt="" class="icon">
                    <div class="title">新业务与产品测试</div>
                    <div class="desc">测试产品、功能的推广信息，让你更科学的锁定目标用户需求</div>
                </li>
            </ul>
            <div class="content">
                <div class="title wow fadeInUp">LINKER的优势</div>
                <div class="cont wow fadeInUp">
                    <p>
                        更广的专业洞见-以60万专家组成的专家智库为依托，Linker 的团队能够助您筛选和招募符合您需求的专家，提供精准的专家咨询服务。
                    </p>
                    <p>
                        更精准的匹配-依靠经验丰富的项目团队与人工智能驱动的匹配平台相结合，为您推荐符合需求的行业专家。
                    </p>
                    <p>
                        更加标准合规-提供完整的合规框架，让客户在一个更加合规的环境中与专家进行访谈，配专用的工具，完整的协议计划，搭配专业人员提供支持。

                    </p>
                </div>
            </div>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>