<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人才服务</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">人才服务</div>
                <div class="desc wow fadeInUp">
                    Linker人才服务可以帮您邀请合适的演讲嘉宾，或者为您的公司提供专项服务（比如技术咨询）。无论您有什么需求，我们都能寻找到适合的行业专家或企业高管。
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">产品服务</a>
                    <span>&gt;</span>
                    <a href="">人才服务</a>
                </div>
            </div>
            <div class="menu-box">
                <ul class="menu-list">
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon2-1.png" alt="提出需求" class="icon">
                        <p>提出需求</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon2-2.png" alt="团队跟进" class="icon">
                        <p>团队跟进</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon2-3.png" alt="协调安排" class="icon">
                        <p>协调安排</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon2-4.png" alt="访谈后跟进" class="icon">
                        <p>访谈后跟进</p>
                    </li>
                </ul>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <main class="main-container max-center">
            <div class="text-box wow fadeInUp">
                <p>
                    获得更好的团队成员-邀请专业的外部专家，通过我们的派遣服务，为您提供帮助，更顺利的推动项目与开展工作。
                    邀请演讲嘉宾-我们可以安排更行业的意见领袖，在合适的场所分享宝贵洞察。
                </p>
            </div>
            <div class="content">
                <div class="title wow fadeInUp">LINKER的优势</div>
                <div class="cont wow fadeInUp">
                    <p>
                        更广的专业洞见-以60万专家组成的专家智库为依托，Linker 的团队能够助您筛选和招募符合您需求的专家，提供精准的专家咨询服务。
                    </p>
                    <p>
                        更精准的匹配-依靠经验丰富的项目团队与人工智能驱动的匹配平台相结合，为您推荐符合需求的行业专家。
                    </p>
                    <p>
                        更加标准合规-提供完整的合规框架，让客户在一个更加合规的环境中与专家进行访谈，配专用的工具，完整的协议计划，搭配专业人员提供支持。

                    </p>
                </div>
            </div>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>