<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电话访谈</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">电话访谈</div>
                <div class="desc wow fadeInUp">
                    告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">产品服务</a>
                    <span>&gt;</span>
                    <a href="">人才服务</a>
                </div>
            </div>
            <div class="menu-box">
                <ul class="menu-list">
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon-1.png" alt="" class="icon">
                        <p>提出需求</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon-2.png" alt="" class="icon">
                        <p>团队跟进</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon-3.png" alt="" class="icon">
                        <p>协调安排</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon-4.png" alt="" class="icon">
                        <p>访谈后跟进</p>
                    </li>
                </ul>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <main class="main-container max-center">
            <div class="title-module">
                <div class="title wow fadeInUp">LINKER电话访谈</div>
                <div class="desc wow fadeInUp">与专家进行一对一电话交流</div>
            </div>
            <ul class="module-list">
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-1.png" alt="" class="icon">
                    <div class="title">多方探讨</div>
                    <div class="desc">在与专家进行访谈时，加入其他项目相关者以及研究成员</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-2.png" alt="" class="icon">
                    <div class="title">专业翻译</div>
                    <div class="desc">在与专家的一对一电话交流中，提供翻译支持</div>
                </li>
                <li class="module-item wow fadeInUp">
                    <img src="/public/images/product-serve/module01-3.png" alt="" class="icon">
                    <div class="title">私密会晤</div>
                    <div class="desc">在合适的时间与地点和专家面对面交流，或在线上沟通</div>
                </li>
            </ul>
            <div class="case-container">
                <div class="title-module">
                    <div class="title wow fadeInUp">服务案例</div>
                    <div class="desc wow fadeInUp">最专业的知识汇集成最适合的解决方案</div>
                </div>
                <div class="case-box">
                    <div class="left-layout case-img-box swiper-container">
                        <ul class="img-list swiper-wrapper">
                            <li class="img-item swiper-slide swiper-no-swiping">
                                <img src="/public/images/product-serve/case.jpg" alt="">
                            </li>
                            <li class="img-item swiper-slide swiper-no-swiping">
                                <img src="/public/images/product-serve/case.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="right-layout case-text-box swiper-container">
                        <ul class="case-text-list swiper-wrapper">
                            <li class="case-text-item swiper-slide swiper-no-swiping">
                                <div class="case-title">案例标题</div>
                                <div class="case-subtitle">电话访谈</div>
                                <div class="case-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. o eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </div>
                            </li>
                            <li class="case-text-item swiper-slide swiper-no-swiping">
                                <div class="case-title">案例标题</div>
                                <div class="case-subtitle">电话访谈</div>
                                <div class="case-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. o eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                </div>
                            </li>
                        </ul>
                        <div class="case-button">
                            <div class="swiper-button-prev prev-btn"></div>
                            <div class="swiper-button-next next-btn"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="title wow fadeInUp">LINKER的优势</div>
                <div class="cont wow fadeInUp">
                    <p>
                        更广的专业洞见-以60万专家组成的专家智库为依托，Linker 的团队能够助您筛选和招募符合您需求的专家，提供精准的专家咨询服务。
                    </p>
                    <p>
                        更精准的匹配-依靠经验丰富的项目团队与人工智能驱动的匹配平台相结合，为您推荐符合需求的行业专家。
                    </p>
                    <p>
                        更加标准合规-提供完整的合规框架，让客户在一个更加合规的环境中与专家进行访谈，配专用的工具，完整的协议计划，搭配专业人员提供支持。
                    </p>
                </div>
            </div>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>