<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>调研服务</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
        <section class="banner-container bg-module">
            <div class="text-box">
                <div class="title wow fadeInUp">调研服务</div>
                <div class="desc wow fadeInUp">
                    Linker调研服务，通过自身建立的社区平台，主要通过搜索引擎优化来招募样本，可以帮您常年累积的联络员，邀请用试乘试架，座谈会，面访，全国资源达到2万车主
                </div>
                <div class="crumbs">
                    <span>当前位置：</span>
                    <a href="/">首页</a>
                    <span>&gt;</span>
                    <a href="">产品服务</a>
                    <span>&gt;</span>
                    <a href="">调研服务</a>
                </div>
            </div>
            <div class="menu-box">
                <ul class="menu-list">
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-1.png" alt="问卷设计" class="icon">
                        <p>问卷设计</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-2.png" alt="编程与测试" class="icon">
                        <p>编程与测试</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-3.png" alt="上线投放" class="icon">
                        <p>上线投放</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-4.png" alt="数据统计提交" class="icon">
                        <p>数据统计提交</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-5.png" alt="人工审核及汇报" class="icon">
                        <p>人工审核及汇报</p>
                    </li>
                    <li class="menu-item wow fadeInLeft">
                        <img src="/public/images/product-serve/menu-icon4-6.png" alt="奖励发放" class="icon">
                        <p>奖励发放</p>
                    </li>
                </ul>
            </div>
            <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
            <div class="bg-mask"></div>
        </section>
        <main class="main-container max-center">
            <div class="content">
                <div class="title wow fadeInUp">LINKER的优势</div>
                <div class="cont wow fadeInUp">
                    <p>
                        样本多样性-Linker拥有多样的渠道战略合作，继续利用自身技术优势的积累，结合相关的庞大用户量，为所有客户提供可靠的在线调研服务、
                    </p>
                    <p>
                        质量控制-设置逻辑陷阱，在线链接的唯一性，用户设备IP控制，问卷填写的时间控制等确保调研的科学性和真实性。
                    </p>
                </div>
            </div>
            <ul class="text-list">
                <li class="text-item wow fadeInUp">
                    <div class="icon">
                        <img src="/public/images/product-serve/text-icon-1.png" alt="">
                        <p>价格高</p>
                    </div>
                    <div class="text">
                        <div class="title">电话留存</div>
                        <div class="desc">
                            通常我们会强制留存样本的5%以内的号码作为复核给到用户。如项目特殊有必要，我们会提供100%的号码给到客户。
                        </div>
                    </div>
                </li>
                <li class="text-item wow fadeInUp">
                    <div class="icon">
                        <img src="/public/images/product-serve/text-icon-2.png" alt="">
                        <p>价格极高</p>
                    </div>
                    <div class="text">
                        <div class="title">上传三证</div>
                        <div class="desc">
                            如有必要，我们会提供用户的行驶证，驾驶证，身份证作为复核信息提供。
                        </div>
                    </div>
                </li>
                <li class="text-item wow fadeInUp">
                    <div class="icon">
                        <img src="/public/images/product-serve/text-icon-3.png" alt="">
                        <p>价格极高</p>
                    </div>
                    <div class="text">
                        <div class="title">行为购物单</div>
                        <div class="desc">
                            如有必要，我们会提供一些购买凭证及水单，正名被访者通常用于网络调查的复核证明。
                        </div>
                    </div>
                </li>
                <li class="text-item wow fadeInUp">
                    <div class="icon">
                        <img src="/public/images/product-serve/text-icon-4.png" alt="">
                        <p>价格低</p>
                    </div>
                    <div class="text">
                        <div class="title">无复核信息</div>
                        <div class="desc">
                            通常常规项目只留存数据，会保护用户信息隐私，我们不会留取任何信息。
                        </div>
                    </div>
                </li>
            </ul>
        </main>
        <!-- 引入公共页尾 -->
        <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>