<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会议服务</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
        <div class="text-box">
            <div class="title wow fadeInUp">会议服务</div>
            <div class="desc wow fadeInUp">
                参与我们的会议活动，与行业内的资深专家建立联系，通过实时性、互动性的对话，了解行业发展趋势和突发新闻。
            </div>
            <div class="crumbs">
                <span>当前位置：</span>
                <a href="/">首页</a>
                <span>&gt;</span>
                <a href="">产品服务</a>
                <span>&gt;</span>
                <a href="">会议服务</a>
            </div>
        </div>
        <div class="menu-box">
            <ul class="menu-list">
                <li class="menu-item wow fadeInLeft">
                    <img src="/public/images/product-serve/menu-icon5-1.png" alt="提出需求" class="icon">
                    <p>提出需求</p>
                </li>
                <li class="menu-item wow fadeInLeft">
                    <img src="/public/images/product-serve/menu-icon5-2.png" alt="团队跟进" class="icon">
                    <p>团队跟进</p>
                </li>
                <li class="menu-item wow fadeInLeft">
                    <img src="/public/images/product-serve/menu-icon5-3.png" alt="协调安排" class="icon">
                    <p>协调安排</p>
                </li>
                <li class="menu-item wow fadeInLeft">
                    <img src="/public/images/product-serve/menu-icon5-4.png" alt="访谈后跟进" class="icon">
                    <p>访谈后跟进</p>
                </li>
            </ul>
        </div>
        <img src="/public/images/product-serve/banner.jpg" alt="" class="bg-img">
        <div class="bg-mask"></div>
    </section>
    <main class="main-container max-center">
        <div class="text-box wow fadeInUp">
            <p>
                我们的会议活动汇聚了领先的前瞻洞察，包括线上和线下的圆桌会议、行业峰会、在线会议、电话会议与其他形式的互动对话，分享专业观点和讨论行业发展趋势。
                
            </p>
            <p>
                <br>
            </p>
            <p>
                线下和线上的圆桌会议-小组讨论的形式，与行业意见领袖接触，实现实时对话。<br>
                行业峰会相关会议-在热门行业峰会中，加入包含线上线下多种形式的相关对话与活动。<br>
                电话会议与网上会议-不受时间地点的限制，参与电话会议和主题演讲，了解热点话题、行业变化分析等。
            </p>
        </div>
        <div class="content">
            <div class="title wow fadeInUp">LINKER的优势</div>
            <div class="cont wow fadeInUp">
                <p>
                    更广的专业洞见-以60万专家组成的专家智库为依托，Linker 的团队能够助您筛选和招募符合您需求的专家，提供精准的专家咨询服务。
                </p>
                <p>
                    更精准的匹配-依靠经验丰富的项目团队与人工智能驱动的匹配平台相结合，为您推荐符合需求的行业专家。
                </p>
                <p>
                    更加标准合规-提供完整的合规框架，让客户在一个更加合规的环境中与专家进行访谈，配专用的工具，完整的协议计划，搭配专业人员提供支持。

                </p>
            </div>
        </div>
    </main>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>