<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LINKER</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container bg-module">
      <div class="text-box">
        <img src="/public/images/home/banner-logo.png" alt="" class="logo wow fadeInUp">
        <div class="title wow fadeInUp">聚焦全球热点，助力卓越决策</div>
        <div class="desc wow fadeInUp">让专业只是触手可及</div>
        <div class="btns wow fadeInUp">
          <a href="mailto:memberservice@capvision.com" class="btn">成为客户</a>
          <a href="mailto:memberservice@capvision.com" class="btn">成为专家</a>
        </div>
      </div>
      <img src="/public/images/home/banner.jpg" alt="" class="bg-img">
      <div class="bg-mask"></div>
      <i class="icon icon-mouse"></i>
    </section>
    <section class="cont1-container">
      <div class="cont1-box max-center">
        <div class="cont-title wow fadeInUp">获得您所需的洞见</div>
        <div class="cont-desc wow fadeInUp">
          科学的决策源于清晰的洞见。Linker专家网络将助力您通过知识共享平台，获得所需要的专业知识，为您未来的决策保驾护航。
        </div>
        <ul class="cont1-list">
          <li class="cont1-item wow fadeInUp">
            <div class="left-layout">
              <div class="icon">
                <img src="/public/images/home/icon-cont1-1.png" alt="">
              </div>
              <div class="title" style="background-image: url(/public/images/home/cont1-title-1.png);">LINKKER专家</div>
            </div>
            <div class="right-layout">
              <div class="text">Linker的专家网络成员约为 56
                万人，包括企业高管、KOL、行业资深，学界精英以及战略分析人士。他们遍布金融、TMT、医疗健康、消费及零售、交通运输、能源环境、机械、工程等行业。</div>
            </div>
          </li>
          <li class="cont1-item wow fadeInUp">
            <div class="left-layout">
              <div class="icon">
                <img src="/public/images/home/icon-cont1-2.png" alt="">
              </div>
              <div class="title" style="background-image: url(/public/images/home/cont1-title-2.png);">LINKKER客户</div>
            </div>
            <div class="right-layout">
              <div class="text">Linker的专家网络向客户提供高效且高质量的专家知识，包括投资机构专业人士，全球领先企业，咨询公司等专业服务机构。</div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="product-serve-container">
      <ul class="product-serve-list max-center">
        <li class="product-serve-item wow fadeInUp title">
          <div class="product-serve-box">
            <div class="title">产品服务</div>
            <div class="cont">
              科学的决策源于清晰的洞见。Linker专家网络将助力您通过知识共享平台，获得所需要的专业知识，为您未来的决策保驾护航。科学的决策源于清晰的洞见。Linker专家网络将助力您通过知识共享平台，获得所需要的专业知识，为您未来的决策保驾护航。
            </div>
            <!-- <a href="/product-serve-01.html" class="more">查看更多</a> -->
          </div>
        </li>
        <li class="product-serve-item wow fadeInUp bg-module" data-wow-delay="100ms">
          <a href="/product-serve-01.html" class="product-serve-box">
            <div class="title-box">
              <span class="title">电话访谈</span>
              <div class="next"></div>
            </div>
            <div class="cont">告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策</div>
          </a>
          <img src="/public/images/home/pro-serve-01.png" alt="" class="bg-img">
        </li>
        <li class="product-serve-item wow fadeInUp bg-module" data-wow-delay="200ms">
          <a href="/product-serve-02.html" class="product-serve-box">
            <div class="title-box">
              <span class="title">人才服务</span>
              <div class="next"></div>
            </div>
            <div class="cont">告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策</div>
          </a>
          <img src="/public/images/home/pro-serve-02.png" alt="" class="bg-img">
        </li>
        <li class="product-serve-item wow fadeInUp bg-module" data-wow-delay="300ms">
          <a href="/product-serve-03.html" class="product-serve-box">
            <div class="title-box">
              <span class="title">定性研究</span>
              <div class="next"></div>
            </div>
            <div class="cont">告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策</div>
          </a>
          <img src="/public/images/home/pro-serve-03.png" alt="" class="bg-img">
        </li>
        <li class="product-serve-item wow fadeInUp bg-module" data-wow-delay="400ms">
          <a href="/product-serve-04.html" class="product-serve-box">
            <div class="title-box">
              <span class="title">调研服务</span>
              <div class="next"></div>
            </div>
            <div class="cont">告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策</div>
          </a>
          <img src="/public/images/home/pro-serve-04.png" alt="" class="bg-img">
        </li>
        <li class="product-serve-item wow fadeInUp bg-module" data-wow-delay="500ms">
          <a href="/product-serve-05.html" class="product-serve-box">
            <div class="title-box">
              <span class="title">会议服务</span>
              <div class="next"></div>
            </div>
            <div class="cont">告诉我们您的方向，为您匹配可以帮助您实现目标的专家，获得一对一的电话访谈或面谈，这种直接的沟通渠道能为您提供一手的市场、政策、行业方面的专家的建议，从而做出更好的决策</div>
          </a>
          <img src="/public/images/home/pro-serve-05.png" alt="" class="bg-img">
        </li>
      </ul>
    </section>
    <section class="client-category-container">
      <div class="client-box max-center">
        <div class="title-box">
          <div class="title wow fadeInUp">客户分类</div>
          <div class="desc wow fadeInUp">科学的决策源于清晰的洞见。Linker专家网络将助力您通过知识共享平台，获得所需要的专业知识，为您未来的决策保驾护航。科学的决策源于清晰的洞见。</div>
          <div class="info wow fadeInUp">成为客户+</div>
        </div>
        <div class="client-swiper swiper-container">
          <ul class="client-list swiper-wrapper">
            <li class="client-item swiper-slide">
              <div class="icon">
                <img src="/public/images/home/client-icon1.png" alt="">
                <img class="hover" src="/public/images/home/client-icon1-white.png" alt="">
              </div>
              <div class="title">企业客户</div>
              <div class="desc">助力全球领先企业制定科学决策。
                通过我们的专家资源，客户可进行差异化的市场分析、产品反馈和策略验证。</div>
              <a href="/client-category-01.html" class="more"></a>
            </li>
            <li class="client-item swiper-slide">
              <div class="icon">
                <img src="/public/images/home/client-icon2.png" alt="">
                <img class="hover" src="/public/images/home/client-icon2-white.png" alt="">
              </div>
              <div class="title">企业客户</div>
              <div class="desc">助力全球领先企业制定科学决策。
                通过我们的专家资源，客户可进行差异化的市场分析、产品反馈和策略验证。</div>
              <a href="/client-category-02.html" class="more"></a>
            </li>
            <li class="client-item swiper-slide">
              <div class="icon">
                <img src="/public/images/home/client-icon3.png" alt="">
                <img class="hover" src="/public/images/home/client-icon3-white.png" alt="">
              </div>
              <div class="title">企业客户</div>
              <div class="desc">助力全球领先企业制定科学决策。
                通过我们的专家资源，客户可进行差异化的市场分析、产品反馈和策略验证。</div>
              <a href="/client-category-03.html" class="more"></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="think-tank-container">
      <div class="think-tank-box max-center">
        <div class="left-layout wow fadeInLeft">
          <div class="title">LINKER 专家智库</div>
          <div class="desc">分享您的专业知识，以灵活的方式获得丰厚报酬</div>
          <div class="info">
            您是某个领域的专家吗？<br>
            申请成为我们的专家，开始分享您的知识吧！
          </div>
          <a href="mailto:memberservice@capvision.com" class="application">立即申请</a>
        </div>
        <div class="right-layout">
          <img src="/public/images/home/think-tank.png" class="wow fadeInRight" alt="">
        </div>
      </div>
    </section>
    <section class="about-container">
      <div class="about-box max-center">
        <div class="left-layout">
          <img src="/public/images/home/about.png" class="wow fadeInLeft" alt="">
        </div>
        <div class="right-layout wow fadeInRight">
          <div class="title">关于我们</div>
          <div class="content">
            <p>
              Linker专家智库的总部位于上海，是中国领先的“互联网”+行业专家知识共享平台。我们为数以百计的全球优质企业提供服务，包括世界500
              强企业，再到专业服务公司以及金融机构。我们帮助客户与全球一手专业知识来源建立联系，包括各行业高管、科学家、学者、行业意见领袖等。
            </p>
            <p>
              Linker通过业界资深从业人士的多年实际项目累积以及新兴的大数据智能搜索已汇集了60万余名来自全球不同行业的资深顾问，以其丰富的知识涵盖了全球的主要行业和专业领域，同时与各大猎头、高校合作，不断做大做深顾问数据库。
            </p>
            <p>
              公司拥有健全的合规框架，让客户实现系统化、可审计的方式获悉所需洞见，同时帮助其符合自身内部的合规义务与职业道德。
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>